:root {
    --white-color: #fff
}

body {
    font-family: 'Segoe UI', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* start navbar */
.navbar-brand {
    font-size: 18px;
    font-weight: 800;
}

.navbar ul li a {
    font-size: 17px;
    font-weight: 500;
    color: #000;
    position: relative;
    /* color: var(--white-color); */
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}

.navbar .nav-link:focus:after {
    width: 100%;

}

.navbar ul li {
    padding-left: 25px;
}

/* end navbar */

/* home start */
.home {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../imgs/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* .home i {
    color: var(--white-color);
    font-size: 20px;
    padding: 15px;
} */

.home i {
    font-size: 15px;
    width: 35px;
    height: 35px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    line-height: 35px;
    cursor: pointer;
}

.home .homecontent h2 {
    font-size: 3.2rem;
    font-weight: bold;
}

.home .homecontent h5 {
    font-size: 2.4rem;
    font-weight: lighter;
}

.home .homecontent small {
    font-size: 2.4rem;
    font-weight: 600;
}

@media only screen and (max-width: 700px) {

    .home .homecontent h2 {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .home .homecontent h5 {
        font-size: 2.4rem;
        font-weight: lighter;
    }

    .home .homecontent small {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

.home .homecontent small::after {
    content: "";
    animation: typing 10s infinite linear;
}

@keyframes typing {
    0% {
        content: "Larry DanielsDeveloper|";
    }

    5% {
        content: "Larry DanielsDev|";
    }

    10% {
        content: "Larry Daniel|";
    }

    15% {
        content: "Larry Da|";
    }

    20% {
        content: "Larr|";
    }

    25% {
        content: "La|";
    }

    30% {
        content: "|";
    }

    35% {
        content: "Dev|";
    }

    40% {
        content: "Develo|";
    }

    45% {
        content: "Developer|";
    }

    50% {
        content: "Develo|";
    }

    55% {
        content: "Dev|";
    }

    60% {
        content: "|";
    }

    65% {
        content: "Des|";
    }

    70% {
        content: "Desig|";
    }

    78% {
        content: "Designer|";
    }

    85% {
        content: "Design|";
    }

    90% {
        content: "Des|";
    }

    100% {
        content: "|";
    }
}

/* home end */


/* about start */

.skills .skills-progress {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}

.skills h6 {
    font-size: 13px;
    color: #fff;
    position: relative;
    z-index: 2;
}



.skills .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.about .imgae:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -15px;
    bottom: -20px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.about .rightside h2 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
}

.about .rightside .lar {
    font-size: 1.2rem;
    color: #748182
}

.about .rightside .lar span {
    font-size: 1.4rem;
    color: #748182;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .about .rightside h2 {
        font-size: 2.5rem;
    }

    .about .rightside .lar {
        font-size: 0.9rem;
    }

}

.about .rightside .btn-2 {
    border: black 1px solid;
}

.about .rightside .btn-2:hover {
    background-color: black;
    color: #fff;
}

.about .rightside .btn-1:hover {
    background-color: #fff;
    color: #000;
}



/* about end */

/* Services start */

.Services {
    background-color: #F7F7F7;
}

.section-head h3 {
    font-size: 40px;
    font-weight: 900;
    z-index: 1;
}

.section-head h3:after {
    content: "";
    width: 12%;
    height: 30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;

}

.Services .Services-item {
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    border-radius: 10px;
}

.Services-item:hover i {
    background: #1c1c1c;
    color: #eee;
}

.Services-item i {
    font-size: 30px;
    width: 70px;
    height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}

.Services-item h5 {
    font-weight: 800;
    font-size: 18px;
}

.Services-item p {
    line-height: 30px;
    font-size: 18px;
}

/* Services end */
/* portoflio start */

.portfolio .nav-pills .nav-item .nav-link {
    color: #000 !important;
    background: transparent !important;
    position: relative;
}

.portfolio .nav-pills .nav-item .nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
    left: 10px;
    bottom: -5px;
}

.portfolio .nav-pills .nav-item .nav-link.active::after {
    width: 80%;

}

.portfolio .contentpor .layer {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.95);
    width: 96%;
    height: 96%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.portfolio .contentpor:hover .layer {
    opacity: 1;
    top: 2%;
    left: 2%;
}

.ico {
    margin-top: 50%;
    transform: translateY(-50%);
}

.infostyle h3 {
    font-size: 14px;
    font-weight: 800;

}


.ico .iconstyle i {
    display: flex;
    width: 35px;
    height: 35px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
    padding-left: 7px;
    transition: all 0.5s;
}

.ico .iconstyle i:hover {
    border-radius: 50%;
    border: 1px solid #111;
    background: #eee;
    color: black;

}

/* .container {
    width: 80%;
    margin: auto;
} */

/* portoflio end */

/* Testimonials start  */
.Testimonials {
    background-color: #F7F7F7;
}

.clientcontent img {
    width: 140px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
}

/* Testimonials end  */
/* numbers start */
.numbers .icon {
    font-size: 30px;
    margin-bottom: 15px;
}

.numbers h3 {
    font-weight: 900;
    margin-bottom: 15px;
}

.numbers p {
    font-weight: 600;
    margin-bottom: 30px;
}

/* numbers end */
/* blog start */
.ourteam {
    background-color: #F7F7F7;
}

.img-text {
    background-color: #5B5B5B;
}

.img-area .social ul {
    text-align: center;
    position: relative;
    /* top: 175px; */
}

.img-area .social ul li a {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    display: block;
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.img-area .social ul li a:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}

.single-team:hover .social {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.social ul {
    margin-top: 50%;
}

.social ul li {
    padding: 10px;
}

.img-area .social {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    text-align: center;
    inset: 5px;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.img-area img {
    transition: all 0.4s ease 0s;
}

.ourteam .img-area {
    overflow: hidden;
}

.ourteam .img-area:hover img {
    transform: scale(1.15);
}

.ourteam .img-area img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* blog end */
/* contact start */
.form-control:focus {
    border-color: #eee;
    box-shadow: none;
    background-color: #F4F4F4;
}

.bg {
    background-color: #F4F4F4;
}

.contact .btn-1:hover {
    background-color: #fff;
    color: #000;
}


/* contact end */
/* footer start */
footer {
    background-color: #1C1C1C;
}

footer .content-footer p {
    /* line-height: 1.6; */
    margin: 0;
    font-size: 15px;
    color: #748182;

}

@media screen and (max-width: 450px) {
    body {
        align-items: center;
        justify-content: center;
    }
}



/* footer end*/
/* الحمد لله */